

<body>
  <div> 
    <canvas id="myChart" style="width:100%;max-width:700px" aria-label="Hello ARIA World" role="img"></canvas>
   
  </div> 
 </body>
 
 
 
 
 
 
 
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
 <script>
    var ele=document.getElementById("myChart");
 var x= <%- JSON.stringify(x) %>;
     var y= <%- JSON.stringify(y) %> ;
 
   var barColors = [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ];
  
   
 new Chart(ele, {
   type: "bar",
   data: {
     labels: x,
     datasets: [
     {
       backgroundColor: barColors,
       data: y
     },
   
    ],
  },
    options: {
      title: {
        display: true,
        text: 'Offender Age vs Offence Count',
    },
    scales: {
  xAxes: [{
    display: true,
    scaleLabel: {
      display: true,
      labelString: 'Offender Age Group'
    }
  }],
  yAxes: [{
    display: true,
    scaleLabel: {
      display: true,
      labelString: 'Number of Offences'
    },
    ticks: {
      

      beginAtZero: true,
      stepSize: 1 
    }
  }]
}
    
   }
  
 });
 </script>