
<body>
  <div> 
    <canvas id="chart" style="width:100%;width:700px;height:400px;" aria-label="Hello ARIA World" role="img"></canvas>
   
  </div> 
 </body>
 
 
 
 
 
 
 
 <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/chart.min.js"></script> -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

 <script>
 var ctx = document.getElementById('chart');

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Risk Level', 'Risk 2'],
    datasets: [
      {
        label: 'Low',
        data: [67.8, 4],
        backgroundColor: '#D6E9C6',
      },
      {
        label: 'Moderate',
        data: [20.7, 6],
        backgroundColor: '#FAEBCC',
      },
      {
        label: 'High',
        data: [11.4, 8],
        backgroundColor: '#EBCCD1',
      }
    ]
  },
  options: {
      title: {
        display: true,
        text: 'Custom Chart Title',
    },
    scales: {
      xAxes: [{ stacked: true }],
      yAxes: [{ stacked: true }]
    }
  }
});
 </script>