<%- include('partials/header') %> 
         
         
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Requests
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/users/requests/admin">Admin</a></li>
              <li><a class="dropdown-item" href="/users/requests/user">User</a></li>
              <li><a class="dropdown-item" href="/offender_requests">Offender</a></li>
             
            </ul>
          
       